@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #494c6b;
  --ternary-color: #9495a5;
  --completed-color: #d1d2da;
  --circle-color: #e3e4f1;
  --blue-color: #3a7cfd;
  --input-color: #393a4b;
  --radius: 5px;
  --shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
}

button {
  line-height: 0;
  background: transparent;
  cursor: pointer;
}

.circle-button {
  width: 20px;
  height: 20px;
  border: 1px solid var(--circle-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-button.completed {
  background: linear-gradient(
    330deg,
    rgba(192, 88, 243, 1) 0%,
    rgba(85, 221, 255, 1) 100%
  );
}
